.container() {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
    @media @bw1340 {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media @bw768 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.width_624{
    box-sizing: border-box;
    max-width: 624px;
    @media @bw1660 {
        max-width: 604px;
    }
    @media @bw1340 {
        max-width: 504px;
    }
}

.section-title(){
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 624px;
    justify-content:center;
    align-items:center;
    max-width: 624px;
    min-height: 62px;
    margin: 0 auto 150px;
    padding: 8px 45px;
    background-color: @black;
    color: @white;
    font-family: @font2;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.277;
    text-align: center;
    text-transform: uppercase;
}

.is-hidden {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(100%) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }

.show-nav{
    body{
        @media @bw1020{
            overflow: hidden;
        }
    }

.page-header__nav{
        @media @bw1020{
            transform: translateX(0);
        }
    }

.page-header__nav-toggle{
        &::before{
            transform: translate(0px, 6px) rotate(45deg);
            box-shadow: none;
        }

        &::after{
            transform: translate(0px, -6px) rotate(-45deg);
        }
    }
}

.show-event-pp{
    body{
        overflow: hidden;
    }

    #js-eventPP{
        display: flex;
    }
}